@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-R.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-B.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-L.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-M.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-EL.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GenKiGothic2TC";
  src: url("/assets/fonts/GenKiGothic2TC/GenKiGothic2TC-H.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}
